@import "tailwindcss";


@theme {
    --color-purple: #9064EE;
    --color-white: #FDFCFC;
    --color-black: #000000;
}

.purple {
    background-color: var(--color-purple);
}

.white {
    color: var(--color-white);
}

.black {
    color: var(--color-black);
}

.hover-purple:hover {
    color: var(--color-purple);
}